# Todo el proyecto (todos pueden revisar)
* @Samuel7099 @RazerRonald @Juanca_0011 @AndresD0114 @sebastianpineda1 @Catedrafacil


# Producción / CI-CD (solo responsables)
.github/workflows/ @Juanca_0011 @AndresD0114
