# Todo el proyecto (todos pueden revisar)
* @Samuel7099 @RazerRonald @JuanCa-Restrepo @AndresD0114 @sebastianpineda1 

# Producción / CI-CD (solo responsables)
.github/workflows/ @JuanCa-Restrepo @AndresD0114
